<div class="w3-container">
    <h1>Profile</h1>
    <p>Welcome <%= currentUser.email %>
            <% if (currentUser.isAdmin) { %>
                (Admin)
                <% } %>!
    </p>
    <p>Here are your details:</p>
    <ul class="w3-ul">
        <li>Email: <%= currentUser.email %>
        </li>
        <li>Created at: <%= currentUser.createdAt %>
        </li>
    </ul>
</div>